SmartHire_App/force-app/main/default/flows/force-app/main/default/flows/KonwersjaKandydataNaKontakt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Selected_Account</name>
        <label>Check Selected Account</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Selected</defaultConnectorLabel>
        <rules>
            <name>Account_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate_Record</targetReference>
            </connector>
            <label>Account Selected</label>
        </rules>
    </decisions>
    <description>Konwertuje rekord kandydata na kontakt w wybranym koncie</description>
    <formulas>
        <name>FirstNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
            CONTAINS({!Candidate_Record.Name}, " "),
            LEFT({!Candidate_Record.Name}, FIND(" ", {!Candidate_Record.Name}) - 1),
            {!Candidate_Record.Name}
        )</expression>
    </formulas>
    <formulas>
        <name>LastNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
            CONTAINS({!Candidate_Record.Name}, " "),
            RIGHT({!Candidate_Record.Name}, LEN({!Candidate_Record.Name}) - FIND(" ", {!Candidate_Record.Name})),
            "[Brak nazwiska]"
        )</expression>
    </formulas>
    <interviewLabel>Konwersja Kandydata na Kontakt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Konwersja Kandydata na Kontakt</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Candidate_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Candidate_Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Candidate_Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Candidate_Record.Current_Position__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate_Record</name>
        <label>Get Candidate Record</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
    </recordLookups>
    <screens>
        <name>Select_Account</name>
